<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обновление продукта</title>
</head>
<body>
<h1>Обновление продукта</h1>
<form method="post">
  <input type="text" name="id" value="{{prod.id}}" placeholder="Введите id продукта"><br>
  <input type="text" name="name" value="{{prod.name}}" placeholder="Введите название продукта"><br>
  <input type="text" name="price" value="{{prod.price}}" placeholder="Введите цену"><br>
  <input type="text" name="amount" value="{{prod.amount}}" placeholder="Введите количество"><br>
  <input type="text" name="comment" value="{{prod.comment}}" placeholder="Введите комментарий"><br>
  <input type="submit" value="Обновить">
</form>

</body>
</html>